@charset "UTF-8";

*{
    margin: auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
body, html{
     min-height: 100vh
}
header{
    background-image: linear-gradient(to top, #aa5a5a,#BF0D0D, #731414) ;
    padding: 5px;
    max-height: 150px;
    min-height: 50px;
    text-align: center;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
main{
    margin: 0px auto 0px auto;
    background-color: #aa5a5a;
    max-width: 85vw;
    min-width: 300px;
    box-shadow: 4px 2px 2px black;
    border-radius: 0px 0px 6px 6px;
    padding: 5px;
    text-align: justify;
}
main > p{
    font-size: 1.2em;
    padding: 10px;
}
div.btn{
    margin: auto;
}
a{
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    color: white;
}
button#aproveite{
    display: block;
    margin: auto;
    width:65%;
    height:25%;
    background-color: #25d366;
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;
    font-weight: bolder;
    }
p#tempo{
    font-size: 2em;
    text-transform: uppercase();
    text-shadow: 1px 1px 1px black;
}
div#spanRelogio{
    background-color: #BF0D0D;
    color: azure;
    height: 70px;
    width: 85%;
    margin: 0px auto 0px auto;
    padding: 1px;
    font-size: 3em;
    text-align: center;
    border-radius: 10px;
}
picture, picture > img{
    display: block;
    margin: 10px auto 5px auto;
    width: 90%;
    height: auto;
}
form{
    display: block;
    padding: 10px;
    width: 50%;
    margin: auto;
    font-size: 2em;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
form>input{
    background-color: antiquewhite;
    height: auto;
    width: 60%;
    margin: auto;
    font-size: 1.5em;
}
form>p{
    font-size: 1em;
}
form.campo{
    background-color: rgb(73, 73, 73);
    color: aliceblue;
    height: 15px;
    width: 10%;
}
div > iframe{
    display: block;
    width: 92%;
    height: 500px;
    padding: 10px;
    margin: 2px auto 2px auto;
    padding: 15px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 2px 1px 1px black;
}
button#whats{
    display: block;
    padding: 10px 20px;
    width:auto;
    height:25%;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:1.5em;
    box-shadow: 1px 1px 2px #888;
    z-index:1350;
}
button#perca{
    display: block;
    padding: 10px 20px;
    width:auto;
    height:25%;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:1.2em;
    box-shadow: 1px 1px 2px #888;
    z-index:1350;
    }
a#flutuante{
    position:fixed;
    width:50px;
    height:50px;
    bottom:40px;
    right:30px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:20px;
    box-shadow: 1px 1px 2px #888;
    z-index:1350;
}
footer{
    display: block;
    clear: both;
    margin-top: 3px;
    background-color: #084A73;
    height: auto;
    text-align: center;
    padding: auto;
    font-size: 1em;
}