@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;
500;
700&display=swap);

@font-face {
    font-family: 'Droid';
    src: url('fonts/trajan-pro.otf');
    font-style: normal;
}


:root{
    --font1:Arial,Helvetica,sans-serif;
    --font2:'Open Sans',sans-serif;
    --font3:'FontAwesome',sans-serif;
    --font4:'Droid', serif;
    --cor1:#aa5a5a;
    --cor2:#731414;
    --cor3:#25d366
}
*{
    margin:auto;
    padding:0;
    font-family:var(--font2);
    font-weight:bolder;
    text-decoration:none
}
body,html{
    min-height:100vh
}
a{
    text-decoration:none;
    text-align:center;
    color:#fff
}
.btn{
    display:block;
    min-width:30%;
    max-width:500px;
    height:auto;
    color:#fff;
    padding:5px 10px;
    font-weight:700;
    cursor:pointer;
    transition:all .3s ease;
    position:relative;
    outline:0;
    border:2px solid var(--cor3);
    background:var(--cor3);
    font-size:2em;
    margin:0 auto 0 auto;
    border-radius:5px;
    border:2px solid #000;
    box-shadow:1px 1px 1px #000
}
.btn:hover{
    background:#579e57;
    color:#000;
    zoom:normal
}
main{
    margin:0 auto 5px auto;
    background-color:var(--cor1);
    max-width:99vw;
    min-width:300px;
    box-shadow:4px 2px 2px #000;
    border-radius:0 0 6px 6px;
    padding:5px;
    text-align:justify
}
div#spanRelogio{
    background-color: var(--cor2);
    color:#fff;
    height:70px;
    width:75%;
    margin:0 auto 0 auto;
    padding:1px;
    font-size:3em;
    text-align:center;
    border-radius:10px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px solid;

}
#formulario,form{
    position:relative;
    display:block;
    margin:0 auto;
    max-width:350px;
    min-width:250px;
    padding:1em;
    border-radius:1em
}
label{
    display:inline-block;
    width:90px;
    text-align:right
}
label:focus{
    border-color:#000
}
form>input{
    display:block;
    position:relative;
    max-width:250px;
    min-width:25%;
    height:auto;
    background-color:var(--cor3);
    color:#000;
    padding:5px;
    margin:auto;
    text-align:center;
    font-size:1em
}
div>iframe{
    margin-top:5px;
    display:block;
    width:92%;
    height:500px;
    padding:10px;
    margin:2px auto 2px auto;
    padding:15px;
    background-color:#000;
    border-radius:20px;
    box-shadow:2px 1px 1px #000
}
a#flutuante{
    position:fixed;
    width:50px;
    height:50px;
    bottom:40px;
    right:20px;
    background-color:var(--cor3);
    color:#fff;
    border-radius:50px;
    text-align:center;
    font-size:20px;
    box-shadow:1px 1px 2px #888;
    z-index:1350;
    box-shadow: 2px 1px 1px black;
    border: 1px solid black;
}
button#compra{
    animation:createBox .25s;
    min-width:75%;
    max-width:800px
}
@keyframes createBox{
    from{
        transform:scale(0)
    }
    to{
        transform:scale(1)
    }
}
footer{
    display:block;
    clear:both;
    margin-top:3px;
    background-color:rgba(0,0,0,.589);
    height:auto;
    text-align:center;
    padding:auto;
    font-size:1em;
    box-shadow:2px 1px 1px #000
}
@media (min-width:1050px){
    header{
        background-image:linear-gradient(to top,var(--cor1),var(--cor2));
        padding:5px;
        min-height:50px;
        text-align:center;
        font-size:1em;
        font-family:var(--font4)
    }
    main>p{
        max-width:99vw;
        text-align:justify;
        font-size:1em;
        padding:2px auto 2px auto;
        text-align:center;
        margin:2px auto 2px auto;
        list-style:2em
    }
    p#headline{
        width:95%;
        padding:5px auto 5px auto;
        margin:5px auto;
        display:block;
        text-align:justify;
        font-size:1.3em
    }
    p#tempo{
        display:block;
        font-size:1.7em;
        text-shadow:1px 1px 1px #000;
        text-align:center
    }
    picture,picture>img{
        display:block;
        margin:10px auto 5px auto;
        width:80%;
        height:auto
    }
    #formulario{
        max-width:450px;
        min-width:400px;
        border:2px solid #000;
        border-radius:5px;
        padding:5px;
        margin:auto
    }
    #depoimentos>h2{
        display:block;
        margin-top:15px auto;
        padding:5px;
        display:block;
        text-align:center;
        margin:auto;
        font-size:3em;
        font-family:var(--font2)
    }
    #depoimentos{
        margin:auto;
        width:98%
    }
    .galeria{
        display:block;
        background-color:#25d366;
        margin:auto;
        padding:1px 1px 1px 45px;
        width:97%;
        background-color:var(--cor1)
    }
    .galeria ul{
        display:inline-block;
        place-items:center;
        background-color:#000;
        margin:auto;
        padding:3px;
        width:18%;
        max-height:auto;
        border:1px solid #000;
        border-radius:10px;
        box-shadow:1px 1px 1px #000
    }
    .galeria img{
        display:inline-block;
        width:100%;
        margin:auto
    }
}
@media (min-width:500px) and (max-width:1050px){
    header{
        font-family:var(--font4);
        background-image:linear-gradient(to top,var(--cor1),var(--cor2));
        padding:5px;
        min-height:50px;
        text-align:center;
        font-size:1em;
    }
    main>p{
        max-width:99vw;
        text-align:justify;
        font-size:1em;
        padding:2px auto 2px auto;
        text-align:center;
        margin:2px auto 2px auto;
        list-style:2em
    }
    p#headline{
        width:95%;
        padding:5px auto 5px auto;
        margin:5px auto;
        display:block;
        text-align:justify;
        font-size:1.3em
    }
    p#tempo{
        display:block;
        font-size:1.7em;
        text-shadow:1px 1px 1px #000;
        text-align:center
    }
    picture,picture>img{
        display:block;
        margin:10px auto 5px auto;
        width:80%;
        height:auto
    }
    #formulario{
        max-width:450px;
        min-width:400px;
        border:2px solid #000;
        border-radius:5px;
        padding:5px;
        margin:auto
    }
    #depoimentos>h2{
        display:block;
        margin-top:15px auto;
        padding:5px;
        display:block;
        text-align:center;
        margin:auto;
        font-size:3em;
        font-family:var(--font2)
    }
    #depoimentos{
        margin:auto;
        width:90%
    }
    .galeria{
        display:block;
        background-color:#25d366;
        margin:auto;
        padding:5px 5px 5px 50px;
        width:90%;
        background-color:var(--cor1)
    }
    .galeria ul{
        display:inline-block;
        margin:auto;
        place-items:center;
        background-color:#000;
        margin:10px auto;
        padding:3px;
        width:80%;
        max-height:auto;
        border:1px solid #000;
        border-radius:10px;
        box-shadow:1px 1px 1px #000
    }
    .galeria img{
        background-color:#0ff;
        width:100%;
        margin:auto
    }
}
@media screen and (max-width:500px){
    header{
        font-family:var(--font4);
        background-image:linear-gradient(to top,var(--cor1),var(--cor2));
        padding:5px;
        min-height:50px;
        text-align:center;
        font-size:1em;
    }
    main>p{
        max-width:99vw;
        text-align:justify;
        font-size:.8em;
        padding:2px auto 2px auto;
        text-align:center;
        margin:2px auto 2px auto;
        list-style:2em
    }
    p#headline{
        width:95%;
        padding:5px auto 5px auto;
        margin:5px auto;
        display:block;
        text-align:justify;
        font-size:1em
    }
    p#tempo{
        display:block;
        font-size:1.5em;
        text-shadow:1px 1px 1px #000;
        text-align:center
    }
    picture,picture>img{
        display:block;
        margin:10px auto 5px auto;
        width:90%;
        height:auto
    }
    #formulario{
        max-width:80%;
        border:2px solid #000;
        border-radius:5px;
        padding:5px;
        margin:auto
    }
    #depoimentos>h2{
        display:block;
        margin-top:15px auto;
        padding:5px;
        display:block;
        text-align:center;
        margin:auto;
        font-size:2em;
        font-family:var(--font2)
    }
    #depoimentos{
        margin:auto;
        width:90%
    }
    .galeria{
        display:block;
        background-color:#25d366;
        margin:auto;
        padding:5px 5px 5px 50px;
        width:90%;
        background-color:var(--cor1)
    }
    .galeria ul{
        display:inline-block;
        margin:auto;
        place-items:center;
        background-color:#000;
        margin:10px auto;
        padding:3px;
        width:75%;
        max-height:auto;
        border:1px solid #000;
        border-radius:10px;
        box-shadow:1px 1px 1px #000
    }
    .galeria img{
        width:100%;
        margin:auto
    }
}
